<!DOCTYPE html>
<html>
<head>
    <title>Add Course</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

<h1>Add Course</h1>

<form action="/courses/add" method="POST">

<label>Course Name</label>

<input
type="text"
name="course_name"
required>

<br><br>

<label>Credits</label>

<input
type="number"
name="credits"
required>

<br><br>

<label>Faculty</label>

<select name="faculty_id">

<option value="1">Dr. Sharma</option>

<option value="2">Dr. Singh</option>

<option value="3">Dr. Mehta</option>

</select>

<br><br>

<button type="submit">

Save Course

</button>

</form>

<br>

<a href="/courses">

<button>

Back

</button>

</a>

</div>

</body>
</html>