<!DOCTYPE html>
<html>
<head>
    <title>Add Department</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

<h1>Add Department</h1>

<form action="/departments/add" method="POST">

<label>Department Name</label>

<input
type="text"
name="department_name"
required>

<br><br>

<button type="submit">

Save Department

</button>

</form>

<br>

<a href="/departments">

<button>Back</button>

</a>

</div>

</body>
</html>