<!DOCTYPE html>
<html>
<head>
    <title>Course Registration</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

<h1>Register Student</h1>

<form action="/enrollments/add" method="POST">

<label>Student</label>

<select name="student_id">

<% students.forEach(student=>{ %>

<option value="<%= student.student_id %>">

<%= student.student_name %>

</option>

<% }) %>

</select>

<br><br>

<label>Course</label>

<select name="course_id">

<% courses.forEach(course=>{ %>

<option value="<%= course.course_id %>">

<%= course.course_name %>

</option>

<% }) %>

</select>

<br><br>

<label>Semester</label>

<input
type="text"
name="semester"
required>

<br><br>

<label>Grade</label>

<input
type="text"
name="grade"
required>

<br><br>

<button>

Register

</button>

</form>

<br>

<a href="/enrollments">

<button>

Back

</button>

</a>

</div>

</body>
</html>